.App {
  position: relative;
  text-align: center;
  
  height: 100%;

  .time {
    position: absolute;
    display: flex;
   // display: none;
   bottom: 30px;
   right: 40px;
   z-index: 2;
   
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: row;
    height: calc(100vh - 150px);
  }
}
