.header {
  position: relative;
  display: flex;
  height: 3em;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  
  .ham {
    padding: 1vh;
    // position: absolute;
    // left: 1%;
  }

  .title {
    display: flex;
    font-size: 3em;
    letter-spacing: 5px;
  }

  .loginBtn {
    
  }
}